.navbar {
    justify-content: space-between;
    border: 2px solid gray;
    background-color: rgb(180, 180, 70);
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}